# Python для анализа данных

## Бот в Telegram

### Сбор статистики по Коронавирусу

*Ян Пиле*

### Есть сайт с информацией о распространении вируса в мире
Я предлагаю достать оттуда информацию в виде Pandas dataframe а затем по запросу пользователя в телеграм выгружать ее

Импортируем requests и запишем адрес сайта со статистикой по COVID в переменную

In [19]:
import requests
from bs4 import BeautifulSoup
url1 = 'https://www.worldometers.info/coronavirus/'

После чего через get-запрос достанем текст страницы со статистикой и распарсим ее с помощью BeautifulSoup

In [20]:
url = 'https://www.worldometers.info/coronavirus/'
website = requests.get(url).text
soup = BeautifulSoup(website, 'lxml')
# soup

In [28]:
# soup.find_all('table')[0]

На странице две таблицы: одна отвечает за информацию на сегодняшний день (под номером 0), а вторая - за информацию на вчерашний день. Достанем обе таблицы (они лежат между тегами \<\table\>\)

In [26]:
table = soup.find_all('table')[0]
# table

Разобьем таблицу на строки (они лежат между тегами tr)

In [30]:
rows = table.find_all('tr')
rows

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>17,154,525</td>
 <td>+13,774</td>
 <td>424,160</td>
 <td>+808</td>
 <td>10,451,820</td>
 <td>+14,223</td>
 <td>6,278,545</td>
 <td>30,894</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>17,278,985</td>
 <td>+18,231</td>
 <td>298,827</td>
 <td>+249</td>
 <td>15,279,958</td>
 <td>+12,559</td>
 <td>1,700,200</td>
 <td>28,023</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>11,431,372</td>
 <td>+139</td>
 <td>330,541</td>
 <td>+5</td>
 <td>10,181,268</td>
 <td>+375</td>
 <td>919,563</td>
 <td>16,992</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>18,135,234</td>
 <td>+51,275</td>
 <td>417,772</td>
 <td>+1,037</td>
 <td>8,006,804</td>
 <td>+44,890</td>
 <td>9,710,658</td>
 <td>27,647</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>2,248,159</td>
 <td></td>
 <td>53,368</td>
 <td></td>
 <td>1,916,443</td>
 <td></td>
 <td>278,348</td>
 <td>2,559</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>45,918</td>
 <td>+16</td>
 <td>1,021</td>
 <td></td>
 <td>33,145</td>
 <td>+15</td>
 <td>11,752</td>
 <td>25</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>706</td>
 <td></td>
 <td>0</td>
 <td>0</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>66,294,914</td>
 <td>+83,435</td>
 <td>1,525,704</td>
 <td>+2,099</td>
 <td>45,870,144</td>
 <td>+72,062</td>
 <td>18,899,066</td>
 <td>106,140</td>
 <td>8,505</td>
 <td>195.7</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">14,774,167</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,632</td>
 <td style="font-weight: bold; text-align:right;">285,656 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+106</td>
 <td style="font-weight: bold; text-align:right">8,663,603</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4,721</td>
 <td style="text-align:right;font-weight:bold;">5,824,908</td>
 <td style="font-weight: bold; text-align:right">26,153</td>
 <td style="font-weight: bold; text-align:right">44,523</td>
 <td style="font-weight: bold; text-align:right">861</td>
 <td style="font-weight: bold; text-align:right">203,887,324</td>
 <td style="font-weight: bold; text-align:right">614,427</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">331,833,330</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>22</td><td>1,162</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">9,608,418</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">139,736 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">9,058,822</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+819</td>
 <td style="text-align:right;font-weight:bold;">409,860</td>
 <td style="font-weight: bold; text-align:right">8,944</td>
 <td style="font-weight: bold; text-align:right">6,934</td>
 <td style="font-weight: bold; text-align:right">101</td>
 <td style="font-weight: bold; text-align:right">145,885,512</td>
 <td style="font-weight: bold; text-align:right">105,272</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,385,789,833</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>144</td><td>9,917</td><td>9</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">6,534,951</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">175,981 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,744,369</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">614,601</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">30,651</td>
 <td style="font-weight: bold; text-align:right">825</td>
 <td style="font-weight: bold; text-align:right">25,700,000</td>
 <td style="font-weight: bold; text-align:right">120,541</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,205,332</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>33</td><td>1,212</td><td>8</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">2,431,731</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+28,782</td>
 <td style="font-weight: bold; text-align:right;">42,684 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+508</td>
 <td style="font-weight: bold; text-align:right">1,916,396</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+27,644</td>
 <td style="text-align:right;font-weight:bold;">472,651</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">16,660</td>
 <td style="font-weight: bold; text-align:right">292</td>
 <td style="font-weight: bold; text-align:right">78,700,000</td>
 <td style="font-weight: bold; text-align:right">539,184</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,961,371</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>60</td><td>3,420</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">2,268,552</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">54,767 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">168,352</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">2,045,433</td>
 <td style="font-weight: bold; text-align:right">3,293</td>
 <td style="font-weight: bold; text-align:right">34,722</td>
 <td style="font-weight: bold; text-align:right">838</td>
 <td style="font-weight: bold; text-align:right">20,879,180</td>
 <td style="font-weight: bold; text-align:right">319,569</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,335,525</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>29</td><td>1,193</td><td>3</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">1,699,145</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">46,252 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">2,371</td>
 <td style="font-weight: bold; text-align:right">36,336</td>
 <td style="font-weight: bold; text-align:right">989</td>
 <td style="font-weight: bold; text-align:right">22,992,742</td>
 <td style="font-weight: bold; text-align:right">491,691</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,762,566</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>28</td><td>1,011</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">1,690,432</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">60,617 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">1,261</td>
 <td style="font-weight: bold; text-align:right">24,845</td>
 <td style="font-weight: bold; text-align:right">891</td>
 <td style="font-weight: bold; text-align:right">44,812,139</td>
 <td style="font-weight: bold; text-align:right">658,627</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,038,710</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>40</td><td>1,122</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">1,688,939</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">58,852 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">872,385</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">757,702</td>
 <td style="font-weight: bold; text-align:right">3,567</td>
 <td style="font-weight: bold; text-align:right">27,952</td>
 <td style="font-weight: bold; text-align:right">974</td>
 <td style="font-weight: bold; text-align:right">22,767,130</td>
 <td style="font-weight: bold; text-align:right">376,792</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,423,533</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>36</td><td>1,027</td><td>3</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td style="font-weight: bold; text-align:right">1,454,631</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">39,512 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">1,281,955</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">133,164</td>
 <td style="font-weight: bold; text-align:right">3,929</td>
 <td style="font-weight: bold; text-align:right">32,060</td>
 <td style="font-weight: bold; text-align:right">871</td>
 <td style="font-weight: bold; text-align:right">4,055,795</td>
 <td style="font-weight: bold; text-align:right">89,388</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,372,728</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>31</td><td>1,148</td><td>11</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
 <td style="font-weight: bold; text-align:right">1,352,607</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">37,467 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">1,240,990</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">74,150</td>
 <td style="font-weight: bold; text-align:right">2,376</td>
 <td style="font-weight: bold; text-align:right">26,463</td>
 <td style="font-weight: bold; text-align:right">733</td>
 <td style="font-weight: bold; text-align:right">6,649,697</td>
 <td style="font-weight: bold; text-align:right">130,095</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,113,975</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>38</td><td>1,364</td><td>8</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>
 <td style="font-weight: bold; text-align:right">1,156,770</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+12,127</td>
 <td style="font-weight: bold; text-align:right;">108,863 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+690</td>
 <td style="font-weight: bold; text-align:right">852,719</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+9,488</td>
 <td style="text-align:right;font-weight:bold;">195,188</td>
 <td style="font-weight: bold; text-align:right">3,377</td>
 <td style="font-weight: bold; text-align:right">8,932</td>
 <td style="font-weight: bold; text-align:right">841</td>
 <td style="font-weight: bold; text-align:right">2,977,002</td>
 <td style="font-weight: bold; text-align:right">22,987</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/mexico-population/">129,510,020</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>112</td><td>1,190</td><td>44</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">1,152,283</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">18,691 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">820,600</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">312,992</td>
 <td style="font-weight: bold; text-align:right">4,011</td>
 <td style="font-weight: bold; text-align:right">13,734</td>
 <td style="font-weight: bold; text-align:right">223</td>
 <td style="font-weight: bold; text-align:right">29,141,172</td>
 <td style="font-weight: bold; text-align:right">347,337</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,898,867</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>73</td><td>4,489</td><td>3</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>
 <td style="font-weight: bold; text-align:right">1,041,846</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">19,359 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">666,413</td>
 <td style="font-weight: bold; text-align:right;"></td>

Сначала достанем заголовки (между тегами th). Для примера достанем заголовок первой колонки.

In [32]:
rows[0].find_all('th')[1].get_text().strip()

'Country,Other'

Теперь мы можем достать содержимое ячеек таблицы (между тегами td). Для примера достанем первую запись первого по счету столбца

In [33]:
rows[1].find_all('td')[1].get_text().strip()

'North America'

Протестируем сборку на примере одной колонки, а потом пробежимся по их списку в цикле

In [34]:
col1 = []

col1.append(rows[0].find_all('th')[1].get_text().strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    col1.append(r[1].get_text().strip()) # сохраняем данные в наш список

print(col1)

['Country,Other', 'North America', 'Asia', 'South America', 'Europe', 'Africa', 'Oceania', '', 'World', 'USA', 'India', 'Brazil', 'Russia', 'France', 'Spain', 'UK', 'Italy', 'Argentina', 'Colombia', 'Mexico', 'Germany', 'Poland', 'Iran', 'Peru', 'South Africa', 'Ukraine', 'Turkey', 'Belgium', 'Indonesia', 'Iraq', 'Chile', 'Netherlands', 'Czechia', 'Romania', 'Bangladesh', 'Philippines', 'Pakistan', 'Canada', 'Morocco', 'Saudi Arabia', 'Switzerland', 'Israel', 'Portugal', 'Austria', 'Sweden', 'Hungary', 'Nepal', 'Jordan', 'Serbia', 'Ecuador', 'UAE', 'Panama', 'Bulgaria', 'Georgia', 'Japan', 'Dominican Republic', 'Bolivia', 'Kuwait', 'Costa Rica', 'Belarus', 'Croatia', 'Armenia', 'Qatar', 'Azerbaijan', 'Kazakhstan', 'Lebanon', 'Guatemala', 'Oman', 'Egypt', 'Moldova', 'Slovakia', 'Greece', 'Ethiopia', 'Honduras', 'Venezuela', 'Tunisia', 'Myanmar', 'Palestine', 'Bosnia and Herzegovina', 'Bahrain', 'Kenya', 'Denmark', 'Algeria', 'Paraguay', 'Libya', 'Slovenia', 'Kyrgyzstan', 'Uzbekistan', 'Ireland', 'Malaysia', 'Lithuania', 'Nigeria', 'North Macedonia', 'Singapore', 'Ghana', 'Afghanistan', 'Albania', 'El Salvador', 'Norway', 'Montenegro', 'Luxembourg', 'S. Korea', 'Australia', 'Finland', 'Sri Lanka', 'Cameroon', 'Uganda', 'Ivory Coast', 'Latvia', 'Sudan', 'Zambia', 'Madagascar', 'Senegal', 'Mozambique', 'Angola', 'French Polynesia', 'Namibia', 'Estonia', 'DRC', 'Guinea', 'Maldives', 'Tajikistan', 'Cyprus', 'Botswana', 'French Guiana', 'Cabo Verde', 'Jamaica', 'Zimbabwe', 'Malta', 'Haiti', 'Gabon', 'Mauritania', 'Cuba', 'Guadeloupe', 'Syria', 'Réunion', 'Bahamas', 'Belize', 'Andorra', 'Hong Kong', 'Trinidad and Tobago', 'Uruguay', 'Eswatini', 'Malawi', 'Rwanda', 'Nicaragua', 'Congo', 'Djibouti', 'Guyana', 'Martinique', 'Iceland', 'Suriname', 'Mayotte', 'Equatorial Guinea', 'Aruba', 'Mali', 'CAR', 'Somalia', 'Thailand', 'Gambia', 'South Sudan', 'Burkina Faso', 'Benin', 'Togo', 'Curaçao', 'Guinea-Bissau', 'Sierra Leone', 'Yemen', 'Lesotho', 'New Zealand', 'San Marino', 'Niger', 'Chad', 'Liberia', 'Channel Islands', 'Vietnam', 'Liechtenstein', 'Sint Maarten', 'Gibraltar', 'Sao Tome and Principe', 'Mongolia', 'Turks and Caicos', 'Saint Martin', 'Diamond Princess', 'Taiwan', 'Burundi', 'Papua New Guinea', 'Eritrea', 'Monaco', 'Comoros', 'Tanzania', 'Mauritius', 'Faeroe Islands', 'Bhutan', 'Isle of Man', 'Cambodia', 'Cayman Islands', 'Barbados', 'Bermuda', 'Saint Lucia', 'Seychelles', 'Caribbean Netherlands', 'Brunei', 'St. Barth', 'Antigua and Barbuda', 'St. Vincent Grenadines', 'Dominica', 'British Virgin Islands', 'Macao', 'Fiji', 'Grenada', 'Laos', 'New Caledonia', 'Timor-Leste', 'Vatican City', 'Saint Kitts and Nevis', 'Greenland', 'Falkland Islands', 'Solomon Islands', 'Saint Pierre Miquelon', 'Montserrat', 'Western Sahara', 'MS Zaandam', 'Anguilla', 'Marshall Islands', 'Wallis and Futuna', 'Samoa', 'Vanuatu', 'China', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:']

In [37]:
col1[:229][-1]

'China'

Чтобы еще раз проверить, запустим для другой колонки - TotalCases

In [38]:
col2 = []

col2.append(rows[0].find_all('th')[2].get_text().strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    col2.append(r[2].get_text().strip()) # сохраняем данные в наш список

print(col2)

['TotalCases', '17,154,525', '17,278,985', '11,431,372', '18,135,234', '2,248,159', '45,918', '721', '66,294,914', '14,774,167', '9,608,418', '6,534,951', '2,431,731', '2,268,552', '1,699,145', '1,690,432', '1,688,939', '1,454,631', '1,352,607', '1,156,770', '1,152,283', '1,041,846', '1,016,835', '970,860', '805,804', '801,716', '765,997', '587,439', '569,707', '560,622', '557,135', '543,924', '542,406', '500,273', '473,991', '436,345', '413,191', '402,569', '372,620', '358,336', '344,497', '342,101', '312,553', '297,245', '278,912', '243,581', '238,861', '234,353', '206,940', '196,482', '174,062', '173,607', '158,807', '158,154', '155,232', '146,680', '145,325', '143,917', '143,685', '143,383', '143,370', '140,959', '139,643', '138,000', '135,498', '134,295', '124,805', '124,329', '117,583', '113,829', '113,392', '113,185', '112,091', '109,760', '103,877', '101,900', '96,520', '94,676', '92,793', '87,600', '87,249', '86,743', '86,730', '86,499', '85,529', '83,133', '74,774', '73,751', '73,491', '70,236', '69,582', '68,627', '66,330', '58,255', '52,096', '47,641', '41,302', '39,718', '37,801', '37,467', '37,017', '36,915', '27,956', '26,758', '26,559', '24,752', '21,898', '21,412', '19,993', '18,535', '17,857', '17,513', '16,297', '16,038', '15,493', '15,107', '14,804', '14,500', '13,281', '13,186', '13,143', '12,349', '11,812', '11,531', '11,334', '10,996', '10,987', '10,547', '10,320', '9,347', '9,254', '9,181', '8,610', '8,427', '8,233', '8,200', '7,565', '7,383', '6,955', '6,803', '6,735', '6,731', '6,480', '6,047', '6,043', '5,838', '5,774', '5,690', '5,601', '5,520', '5,462', '5,322', '5,181', '5,159', '4,942', '4,938', '4,918', '4,525', '4,072', '3,768', '3,154', '3,091', '3,055', '3,051', '2,890', '2,441', '2,420', '2,267', '2,150', '2,078', '1,756', '1,726', '1,719', '1,676', '1,526', '1,361', '1,351', '1,120', '1,042', '999', '842', '755', '717', '712', '693', '692', '671', '632', '630', '615', '509', '508', '505', '424', '370', '345', '288', '284', '278', '262', '184', '164', '151', '147', '144', '87', '85', '72', '46', '44', '41', '39', '35', '31', '27', '22', '18', '17', '17', '16', '13', '10', '9', '7', '4', '3', '2', '1', '86,601', '17,154,525', '17,278,985', '11,431,372', '18,135,234', '2,248,159', '45,918', '721', '66,294,914']

А теперь пройдемся циклом по 9 колонкам, сгружая данные в список списков

In [39]:
field_list = []
for i in range(9):
    col = []
    col.append(rows[0].find_all('th')[i+1].get_text().strip()) # отдельно добавляем заголовок
    for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
        r = row.find_all('td') # находим все теги td для строки таблицы
        col.append(r[i+1].get_text().strip()) # сохраняем данные в наш список
    field_list.append(col)

А вот заголовок второго столбца

In [40]:
field_list[2][0]

'NewCases'

Остается превратить эту структуру в DataFrame. Для этого сначала превратим ее в словарь из списков, где ключами будут названия колонок.

In [41]:
d = dict()
for i in range(9):
    d[field_list[i][0]] = field_list[i][1:]
# d

А теперь сгружаем этот словарь в функцию pd.DataFrame и он превращается в искомый DataFrame

In [42]:
import pandas as pd 
df = pd.DataFrame(d)
df.head(10)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical"
0,North America,"17,154,525","+13,774","424,160",+808,"10,451,820","+14,223","6,278,545","30,894"
1,Asia,"17,278,985","+18,231","298,827",+249,"15,279,958","+12,559","1,700,200","28,023"
2,South America,"11,431,372",+139,"330,541",+5,"10,181,268",+375,"919,563","16,992"
3,Europe,"18,135,234","+51,275","417,772","+1,037","8,006,804","+44,890","9,710,658","27,647"
4,Africa,"2,248,159",,"53,368",,"1,916,443",,"278,348","2,559"
5,Oceania,"45,918",+16,"1,021",,"33,145",+15,"11,752",25
6,,721,,15,,706,,0,0
7,World,"66,294,914","+83,435","1,525,704","+2,099","45,870,144","+72,062","18,899,066","106,140"
8,USA,"14,774,167","+1,632","285,656",+106,"8,663,603","+4,721","5,824,908","26,153"
9,India,"9,608,418",,"139,736",,"9,058,822",+819,"409,860","8,944"

In [43]:
df.head(8)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical"
0,North America,"17,154,525","+13,774","424,160",+808,"10,451,820","+14,223","6,278,545","30,894"
1,Asia,"17,278,985","+18,231","298,827",+249,"15,279,958","+12,559","1,700,200","28,023"
2,South America,"11,431,372",+139,"330,541",+5,"10,181,268",+375,"919,563","16,992"
3,Europe,"18,135,234","+51,275","417,772","+1,037","8,006,804","+44,890","9,710,658","27,647"
4,Africa,"2,248,159",,"53,368",,"1,916,443",,"278,348","2,559"
5,Oceania,"45,918",+16,"1,021",,"33,145",+15,"11,752",25
6,,721,,15,,706,,0,0
7,World,"66,294,914","+83,435","1,525,704","+2,099","45,870,144","+72,062","18,899,066","106,140"

Для удобства переименуем колонки с составными названиями.

In [44]:
df = df.rename(columns={'Country,Other': 'Country', 'Serious,Critical': 'SeriousCritical'})

In [45]:
df.head(8)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,SeriousCritical
0,North America,"17,154,525","+13,774","424,160",+808,"10,451,820","+14,223","6,278,545","30,894"
1,Asia,"17,278,985","+18,231","298,827",+249,"15,279,958","+12,559","1,700,200","28,023"
2,South America,"11,431,372",+139,"330,541",+5,"10,181,268",+375,"919,563","16,992"
3,Europe,"18,135,234","+51,275","417,772","+1,037","8,006,804","+44,890","9,710,658","27,647"
4,Africa,"2,248,159",,"53,368",,"1,916,443",,"278,348","2,559"
5,Oceania,"45,918",+16,"1,021",,"33,145",+15,"11,752",25
6,,721,,15,,706,,0,0
7,World,"66,294,914","+83,435","1,525,704","+2,099","45,870,144","+72,062","18,899,066","106,140"

А теперь сгрузим весь процесс, который мы проделали, в одну функцию. Ее аргумент tag = 0 - информация за сегодняшний день, a tag=1 - информация за вчерашний день.

In [46]:
def stat(tag = 0):
    url = 'https://www.worldometers.info/coronavirus/'
    website = requests.get(url).text
    soup = BeautifulSoup(website, 'lxml')
    table = soup.find_all('table')[tag]
    rows = table.find_all('tr')
    d = dict()
    for i in range(9):
        col = []
        key = rows[0].find_all('th')[i+1].get_text().strip()
        
        for row in rows[1:229]:
            r = row.find_all('td')
            col.append(r[i+1].get_text().strip())
        d[key] = col
    df = pd.DataFrame(d)
    df = df.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'SeriousCritical'})
    return df

In [47]:
stat().head(10)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,SeriousCritical
0,North America,"17,154,525","+13,774","424,160",+808,"10,451,820","+14,223","6,278,545","30,894"
1,Asia,"17,278,985","+18,231","298,827",+249,"15,279,958","+12,559","1,700,200","28,023"
2,South America,"11,431,372",+139,"330,541",+5,"10,181,268",+375,"919,563","16,992"
3,Europe,"18,138,082","+54,123","417,800","+1,058","8,030,818","+68,904","9,689,464","27,592"
4,Africa,"2,248,159",,"53,368",,"1,916,443",,"278,348","2,559"
5,Oceania,"45,918",+16,"1,021",,"33,145",+15,"11,752",25
6,,721,,15,,706,,0,0
7,World,"66,297,762","+86,283","1,525,732","+2,120","45,894,158","+96,076","18,877,872","106,085"
8,USA,"14,774,167","+1,632","285,656",+106,"8,663,603","+4,721","5,824,908","26,153"
9,India,"9,608,418",,"139,736",,"9,058,822",+819,"409,860","8,944"

In [48]:
list(stat()['Country'][:8])

['North America',
 'Asia',
 'South America',
 'Europe',
 'Africa',
 'Oceania',
 '',
 'World']

В первых 8 строках таблицы в колонке Country лежат регионы + Мир. Одна строка пустая. Уберем ее с помощью спискового включения.

In [49]:
print(*list(i+'\n' for i in list(stat()['Country'][:8]) if i!=''))

North America
 Asia
 South America
 Europe
 Africa
 Oceania
 World

А с 8 по 220 строки лежат названия стран. Выведем ее с помощью спискового включения по 6 стран в линию (для этого вставим символ переноса строки)

In [50]:
x = stat()['Country'][8:229]
', '.join([e+'\n' if i%6 == 5 else e for i,e in enumerate(x)])

'USA, India, Brazil, Russia, France, Spain\n, UK, Italy, Argentina, Colombia, Mexico, Germany\n, Poland, Iran, Peru, South Africa, Ukraine, Turkey\n, Belgium, Indonesia, Iraq, Chile, Netherlands, Czechia\n, Romania, Bangladesh, Philippines, Pakistan, Canada, Morocco\n, Saudi Arabia, Switzerland, Israel, Portugal, Austria, Sweden\n, Hungary, Nepal, Jordan, Serbia, Ecuador, UAE\n, Panama, Bulgaria, Georgia, Japan, Dominican Republic, Bolivia\n, Kuwait, Costa Rica, Belarus, Croatia, Armenia, Qatar\n, Azerbaijan, Kazakhstan, Lebanon, Guatemala, Oman, Egypt\n, Moldova, Slovakia, Greece, Ethiopia, Honduras, Venezuela\n, Tunisia, Myanmar, Palestine, Bosnia and Herzegovina, Bahrain, Kenya\n, Denmark, Algeria, Paraguay, Libya, Slovenia, Kyrgyzstan\n, Uzbekistan, Ireland, Lithuania, Malaysia, Nigeria, North Macedonia\n, Singapore, Ghana, Afghanistan, Albania, El Salvador, Norway\n, Montenegro, Luxembourg, S. Korea, Australia, Finland, Sri Lanka\n, Cameroon, Uganda, Ivory Coast, Latvia, Sudan, Zambia\n, Madagascar, Senegal, Mozambique, Angola, French Polynesia, Namibia\n, Estonia, DRC, Guinea, Maldives, Tajikistan, Cyprus\n, Botswana, French Guiana, Cabo Verde, Jamaica, Zimbabwe, Malta\n, Haiti, Gabon, Mauritania, Cuba, Guadeloupe, Syria\n, Réunion, Bahamas, Belize, Andorra, Hong Kong, Trinidad and Tobago\n, Uruguay, Eswatini, Malawi, Rwanda, Nicaragua, Congo\n, Djibouti, Guyana, Martinique, Iceland, Suriname, Mayotte\n, Equatorial Guinea, Aruba, Mali, CAR, Somalia, Thailand\n, Gambia, South Sudan, Burkina Faso, Benin, Togo, Curaçao\n, Guinea-Bissau, Sierra Leone, Yemen, Lesotho, New Zealand, San Marino\n, Niger, Chad, Liberia, Channel Islands, Vietnam, Liechtenstein\n, Sint Maarten, Gibraltar, Sao Tome and Principe, Mongolia, Turks and Caicos, Saint Martin\n, Diamond Princess, Taiwan, Burundi, Papua New Guinea, Eritrea, Monaco\n, Comoros, Tanzania, Mauritius, Faeroe Islands, Bhutan, Isle of Man\n, Cambodia, Cayman Islands, Barbados, Bermuda, Saint Lucia, Seychelles\n, Caribbean Netherlands, Brunei, St. Barth, Antigua and Barbuda, St. Vincent Grenadines, Dominica\n, British Virgin Islands, Macao, Fiji, Grenada, Laos, New Caledonia\n, Timor-Leste, Vatican City, Saint Kitts and Nevis, Greenland, Falkland Islands, Solomon Islands\n, Saint Pierre Miquelon, Montserrat, Western Sahara, MS Zaandam, Anguilla, Marshall Islands\n, Wallis and Futuna, Samoa, Vanuatu, China'

In [51]:
x = stat()['Country'][8:220]
import re
# print(x)
print(', '.join([e+'\n' if i%6 == 5 else e for i,e in enumerate(x)]).replace('\n,',',\n'))

USA, India, Brazil, Russia, France, Spain,
 UK, Italy, Argentina, Colombia, Mexico, Germany,
 Poland, Iran, Peru, South Africa, Ukraine, Turkey,
 Belgium, Indonesia, Iraq, Chile, Netherlands, Czechia,
 Romania, Bangladesh, Philippines, Pakistan, Canada, Morocco,
 Saudi Arabia, Switzerland, Israel, Portugal, Austria, Sweden,
 Hungary, Nepal, Jordan, Serbia, Ecuador, UAE,
 Panama, Bulgaria, Georgia, Japan, Dominican Republic, Bolivia,
 Kuwait, Costa Rica, Belarus, Croatia, Armenia, Qatar,
 Azerbaijan, Kazakhstan, Lebanon, Guatemala, Oman, Egypt,
 Moldova, Slovakia, Greece, Ethiopia, Honduras, Venezuela,
 Tunisia, Myanmar, Palestine, Bosnia and Herzegovina, Bahrain, Kenya,
 Denmark, Algeria, Paraguay, Libya, Slovenia, Kyrgyzstan,
 Uzbekistan, Ireland, Lithuania, Malaysia, Nigeria, North Macedonia,
 Singapore, Ghana, Afghanistan, Albania, El Salvador, Norway,
 Montenegro, Luxembourg, S. Korea, Australia, Finland, Sri Lanka,
 Cameroon, Uganda, Ivory Coast, Latvia, Sudan, Zambia,
 Madagascar, Senegal, Mozambique, Angola, French Polynesia, Namibia,
 Estonia, DRC, Guinea, Maldives, Tajikistan, Cyprus,
 Botswana, French Guiana, Cabo Verde, Jamaica, Zimbabwe, Malta,
 Haiti, Gabon, Mauritania, Cuba, Guadeloupe, Syria,
 Réunion, Bahamas, Belize, Andorra, Hong Kong, Trinidad and Tobago,
 Uruguay, Eswatini, Malawi, Rwanda, Nicaragua, Congo,
 Djibouti, Guyana, Martinique, Iceland, Suriname, Mayotte,
 Equatorial Guinea, Aruba, Mali, CAR, Somalia, Thailand,
 Gambia, South Sudan, Burkina Faso, Benin, Togo, Curaçao,
 Guinea-Bissau, Sierra Leone, Yemen, Lesotho, New Zealand, San Marino,
 Niger, Chad, Liberia, Channel Islands, Vietnam, Liechtenstein,
 Sint Maarten, Gibraltar, Sao Tome and Principe, Mongolia, Turks and Caicos, Saint Martin,
 Diamond Princess, Taiwan, Burundi, Papua New Guinea, Eritrea, Monaco,
 Comoros, Tanzania, Mauritius, Faeroe Islands, Bhutan, Isle of Man,
 Cambodia, Cayman Islands, Barbados, Bermuda, Saint Lucia, Seychelles,
 Caribbean Netherlands, Brunei, St. Barth, Antigua and Barbuda, St. Vincent Grenadines, Dominica,
 British Virgin Islands, Macao, Fiji, Grenada, Laos, New Caledonia,
 Timor-Leste, Vatican City, Saint Kitts and Nevis, Greenland, Falkland Islands, Solomon Islands,
 Saint Pierre Miquelon, Montserrat

Для вывода результатов в текстовом формате воспользуемся библиотекой tabulate (в таком формате мы будем отправлять результаты в telegram'е)

In [52]:
!pip install tabulate

Requirement already satisfied: tabulate in /Users/i.pile/anaconda3/lib/python3.8/site-packages (0.8.7)

In [53]:
from tabulate import tabulate

Например общее количество случаев заболевания коронавирусом в Великобритании вывести можно так:

In [54]:
df[['Country','TotalCases']][df['Country']=='UK'].reset_index(drop=True)

  Country TotalCases
0      UK  1,690,432

In [56]:
x = df[['Country','TotalCases']][df['Country']=='UK'].reset_index(drop=True)
print(tabulate(x, headers = x.columns, tablefmt="grid"))

+----+-----------+--------------+
|    | Country   | TotalCases   |
+====+===========+==============+
|  0 | UK        | 1,690,432    |
+----+-----------+--------------+

In [ ]:
!pip install semidbm

In [1]:
import semidbm

In [4]:
db = semidbm.open('testdb', 'c')
db['foo'] = 'bar'
print(db['foo'])
db.close()

b'bar'

In [5]:
db = semidbm.open('testdb', 'c')
del db['foo']

In [6]:
db['foo']

KeyError: b'foo'

In [7]:
db.close()